html,body{
    width:100%;
    height:100%;
    margin: 0;
}
.navbar{
    width:100%;
    height:10vh;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.navbar > h1{
    margin: 0;
    margin-left: 1vh;
    color: white;
    font-size: 6vh;
}
.chatbox{
    width:100%;
    height: 80vh;
    overflow: scroll;
}
.input{
    height: 10vh;
    width:100%;
    background-color: grey;
    position: relative;
}
.input > input{
    width:calc(100% - 10vh);
    height:6vh;
    position: absolute;
    left: 1vh;
    top: 2vh;
}
.input > button{
    width: 6vh;
    height: 6vh;
    background-color: blue;
    position: absolute;
    right:1vh;
    top: 2vh;
    padding: 0;
}
.input > button > i{
    color: white;
    font-size: 4vh;
}
.message{
    height:10vh;
    width:calc(100% - 2vh);
    background-color: grey;
    font-family: 'Quicksand',sans-serif;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.messageText{
    font-size: 5vh;
    overflow-wrap: break-word;
}
#login{
    height:90vh;
    width:100%;
    position: relative;
}
#chat{
    display: none;
}
#loginFlex{
    position: absolute;
    width:40%;
    left:30%;
    height:60vh;
    top:10vh;
    border: 1vh solid black;
    font-family: 'Quicksand',sans-serif;
    display: grid;
    grid-template-rows: 30vh 15vh 15vh;
    grid-template-columns: 100%;
}
#loginButton{
    font-family: 'Quicksand',sans-serif;
    border: none;
    grid-area: 3/1/4/1;
    font-size:6vh;
}
#name{
    font-family: 'Quicksand',sans-serif;
    grid-area: 2/1/3/1;
    font-size: 6vh;
}
#loginFlex > h1{
    margin-left: 1vh;
    font-size: 10vh;
}