html,body{
    width:100%;
    height:100%;
    margin: 0;
}
.navbar{
    width:100%;
    height:10vh;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.navbar > h1{
    margin: 0;
    margin-left: 1vh;
    color: white;
    font-size: 6vh;
}
.chatbox{
    width:100%;
    height: 80vh;
    overflow: scroll;
}
.input{
    height: 10vh;
    width:100%;
    background-color: grey;
    position: relative;
}
.input > input{
    width:calc(100% - 10vh);
    height:6vh;
    position: absolute;
    left: 1vh;
    top: 2vh;
}
.input > button{
    width: 6vh;
    height: 6vh;
    background-color: blue;
    position: absolute;
    right:1vh;
    top: 2vh;
    padding: 0;
}
.input > button > i{
    color: white;
    font-size: 4vh;
}
.message{
    height:10vh;
    width:calc(100% - 2vh);
    background-color: grey;
    font-family: 'Quicksand',sans-serif;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.messageText{
    overflow-wrap: break-word;
}
